<a href="https://colab.research.google.com/github/les1smore/Maryland_Statewide_Vehicle_Analysis_2020-2021/blob/main/1_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Cleaning

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import date
from numpy import asarray

In [ ]:
person = pd.read_csv('dataset/cleaned-person.csv')
crash = pd.read_csv('dataset/cleaned-crash.csv')
vehicle = pd.read_csv('dataset/cleaned-vehicle.csv')

In [ ]:
merged_data = pd.read_csv('dataset/merged-data.csv')

## 1.1 Take a look at the datatype - merged data

In [ ]:
dtype_merged = merged_data.dtypes.reset_index()
dtype_merged.columns = ['Data Name', 'Data Type']
dtype_merged

                Data Name Data Type
0               REPORT_NO    object
1                 QUARTER    object
2              LIGHT_DESC    object
3             COUNTY_DESC    object
4     COLLISION_TYPE_DESC    object
5          SURF_COND_DESC    object
6             REPORT_TYPE    object
7            WEATHER_DESC    object
8        HARM_EVENT_DESC1    object
9        HARM_EVENT_DESC2    object
10               ACC_DATE     int64
11               ACC_TIME    object
12               LATITUDE   float64
13              LONGITUDE   float64
14               SEX_DESC    object
15               SEX_CODE    object
16         INJ_SEVER_DESC    object
17      ALCOHOL_TEST_DESC    object
18  ALCOHOL_TESTTYPE_DESC    object
19         DRUG_TEST_DESC    object
20   DRUG_TESTRESULT_DESC    object
21             EJECT_DESC    object
22         SAF_EQUIP_DESC    object
23          DATE_OF_BIRTH   float64
24        AIRBAG_DEPLOYED   float64
25                   YEAR     int64
26        HARM_EVENT_DESC    object
27               VEH_YEAR   float64
28               VEH_MAKE    object
29   GOING_DIRECTION_DESC    object
30            SPEED_LIMIT     int64
31  HIT_AND_RUN_FLAG_DESC    object

## 1.2 Transform date of birth to age

In [ ]:
# Take a look at the original date of birth data type
merged_data.DATE_OF_BIRTH.dtype

dtype('float64')

In [ ]:
# Convert this variable from float to string, then split the decimal for a tidy format
merged_data['DATE_OF_BIRTH'] = merged_data['DATE_OF_BIRTH'].astype(str).apply(lambda x: pd.to_datetime(x.split('.')[0],
                                                                  format = '%Y%m%d'))

In [ ]:
# Take a look at the data type again, now we are good to go 
merged_data.DATE_OF_BIRTH.dtype

dtype('<M8[ns]')

In [ ]:
# Generate the new age column
merged_data['age'] = merged_data['DATE_OF_BIRTH'].apply(lambda x: (pd.datetime.now().year - x.year))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [ ]:
# # Seems good!
merged_data['age']

0         46.0
1         46.0
2         56.0
3         56.0
4         54.0
          ...
754287    68.0
754288    49.0
754289    42.0
754290    62.0
754291    31.0
Name: age, Length: 754292, dtype: float64

## 1.3 Create lists for numerical and categorical data

In [ ]:
num_var = [feature for feature in merged_data if merged_data[feature].dtypes == 'int' or merged_data[feature].dtypes == 'float']
cat_var = [feature for feature in merged_data if merged_data[feature].dtypes == 'object']

In [ ]:
num_var

['ACC_DATE',
 'LATITUDE',
 'LONGITUDE',
 'AIRBAG_DEPLOYED',
 'YEAR',
 'VEH_YEAR',
 'SPEED_LIMIT',
 'age']

In [ ]:
cat_var

['REPORT_NO',
 'QUARTER',
 'LIGHT_DESC',
 'COUNTY_DESC',
 'COLLISION_TYPE_DESC',
 'SURF_COND_DESC',
 'REPORT_TYPE',
 'WEATHER_DESC',
 'HARM_EVENT_DESC1',
 'HARM_EVENT_DESC2',
 'ACC_TIME',
 'SEX_DESC',
 'SEX_CODE',
 'INJ_SEVER_DESC',
 'ALCOHOL_TEST_DESC',
 'ALCOHOL_TESTTYPE_DESC',
 'DRUG_TEST_DESC',
 'DRUG_TESTRESULT_DESC',
 'EJECT_DESC',
 'SAF_EQUIP_DESC',
 'HARM_EVENT_DESC',
 'VEH_MAKE',
 'GOING_DIRECTION_DESC',
 'HIT_AND_RUN_FLAG_DESC']

In [ ]:
# Remove duplicated values
print(merged_data.duplicated().sum())
merged_data = merged_data.drop_duplicates()

8

In [ ]:
# Generate descriptive statistics on the merged dataset
merged_data.describe()

,ACC_DATE,LATITUDE,LONGITUDE,AIRBAG_DEPLOYED,YEAR,VEH_YEAR,SPEED_LIMIT,age
count,7.542840e+05,754284.000000,754284.000000,746964.000000,754284.000000,720028.000000,754284.000000,684925.000000
mean,2.020519e+07,39.134879,-76.733554,4.888644,2020.456561,2006.988527,35.271675,38.095857
std,4.926817e+03,0.307276,0.453941,18.255657,0.498110,163.861190,15.505943,18.206038
min,2.020010e+07,37.000000,-79.989756,0.000000,2020.000000,0.000000,0.000000,0.000000
25%,2.020070e+07,38.966946,-76.928900,1.000000,2020.000000,2007.000000,25.000000,25.000000
50%,2.020120e+07,39.212974,-76.708277,1.000000,2020.000000,2013.000000,35.000000,35.000000
75%,2.021052e+07,39.336406,-76.574513,2.000000,2021.000000,2017.000000,45.000000,51.000000
max,2.021093e+07,39.994802,-75.000747,99.000000,2021.000000,9999.000000,75.000000,121.000000